<ion-card class="match-card">
  <ion-card-content>
    <div class="competition">
      <ion-thumbnail class="competition-logo">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-skeleton-text [animated]="true" style="width: 40%"> </ion-skeleton-text>
    </div>

    <div class="match-main">
      <div class="team">
        <ion-thumbnail class="team-logo">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-skeleton-text [animated]="true" style="width: 80px"> </ion-skeleton-text>
      </div>

      <div class="score">
        <ion-skeleton-text [animated]="true" style="width: 50px"> </ion-skeleton-text>
      </div>

      <div class="team">
        <ion-thumbnail class="team-logo">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-skeleton-text [animated]="true" style="width: 80px"> </ion-skeleton-text>
      </div>
    </div>

    <div class="status">
      <ion-skeleton-text [animated]="true" style="width: 30%"> </ion-skeleton-text>
    </div>
  </ion-card-content>
</ion-card>
