@if (isLoading() || matches().length > 0) {
  <app-accordion-section
    [title]="title()"
    [count]="matches().length"
    [isOpen]="isOpen()"
  >
    @if (isLoading()) {
      @for (_ of [].constructor(MAX_PAGE_ITEM_COUNT); track $index) {
        <app-match-card-skeleton></app-match-card-skeleton>
      }
    } @else {
      @for (
        match of matches().slice(0, MAX_PAGE_ITEM_COUNT * page());
        track match.url
      ) {
        <app-match-card [match]="match"></app-match-card>
      }
      @if (page() * MAX_PAGE_ITEM_COUNT < matches().length) {
        <ion-button fill="clear" (click)="showMoreClicked()"
          >Show more ...</ion-button
        >
      }
    }
  </app-accordion-section>
}
