<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Football </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Football</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-matches-section
    [title]="SectionTitles.LIVE_MATCHES"
    [matches]="liveMatches()"
    [isLoading]="isLoading()">
  </app-matches-section>

  <app-matches-section
    [title]="SectionTitles.RECENT_MATCHES"
    [matches]="recentMatches()"
    [isLoading]="isLoading()">
  </app-matches-section>

  <app-matches-section
    [title]="SectionTitles.FIXTURES"
    [matches]="fixtures()"
    [isLoading]="isLoading()"
    [isOpen]="true">
  </app-matches-section>


  <app-standings-section
  [standings]="standings()"
  [isLoading]="isLoadingStandings()">
  </app-standings-section>
</ion-content>
